DT.CodeExam.UnitTest/Service References/NumberServices/DT.CodeExam.Services.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/DT.CodeExam.Services" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/DT.CodeExam.Services" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="Request">
    <xs:sequence>
      <xs:element minOccurs="0" name="DecimalPlaces" type="xs:int" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Number" type="xs:decimal" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Request" nillable="true" type="tns:Request" />
  <xs:complexType name="Response">
    <xs:sequence>
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Number" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Response" nillable="true" type="tns:Response" />
</xs:schema>